        <% all_sections.car_section.forEach(function(car) { %>
          <li class="mdc-list-item" role="menuitem">
          <div class="item-content d-flex align-items-start flex-column justify-content-center">
          <h6 class="item-subject font-weight-normal"><%= car.brand %> , <%= car.type %> , <%= car.color %></h6>
        </div>
      </li>
        <% }); %>
   
  
