<tr>
    <td>
      <span class="flag-icon-container"><i class="flag-icon flag-icon-us mr-2"></i></span><%= brand.brand_name %></td>
    <td><%= brand.Number_of_cars %></td>
    <td class=" font-weight-medium"> <%= brand.Precent_of_cars %> </td>
  </tr>


  <!-- <tr>
                                <td>
                                  <span class="flag-icon-container"><i class="flag-icon flag-icon-us mr-2"></i></span>United States</td>
                                <td>$1,671.10</td>
                                <td class=" font-weight-medium"> 39% </td>
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"><i class="flag-icon flag-icon-ph mr-2"></i></span>Philippines	</td>
                                <td>$1,064.75</td>
                                <td class=" font-weight-medium"> 30% </td>
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"><i class="flag-icon flag-icon-gb mr-2"></i></span>United Kingdom</td>
                                <td>$1,055.98</td>
                                <td class=" font-weight-medium"> 45% </td>
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"><i class="flag-icon flag-icon-ca mr-2"></i></span>Canada</td>
                                <td>$1,045.49</td>
                                <td class=" font-weight-medium"> 80% </td>
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"><i class="flag-icon flag-icon-fr mr-2"></i></span>France</td>
                                <td>$2,050.93</td>
                                <td class=" font-weight-medium"> 10% </td>
                              </tr> -->