
    <div class="mdc-card info-card info-card--success">
      <div class="card-inner">
        <h5 class="card-title"><%= title %></h5>
        <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5>
        <p class="tx-12 text-muted">48% target reached</p>
        <div class="card-icon-wrapper">
          <i class="material-icons">dvr</i>
        </div>
      </div>
    </div>
  

  <!--
  <div class="mdc-card info-card info-card--danger">
                  <div class="card-inner">
                    <h5 class="card-title">Annual Profit</h5>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">$1,958,104.00</h5>
                    <p class="tx-12 text-muted">55% target reached</p>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">attach_money</i>
                    </div>
                  </div>
                </div>


  -->
  <!--

      <div class="mdc-card info-card info-card--primary">
                  <div class="card-inner">
                    <h5 class="card-title">Lead Conversion</h5>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">$234,769.00</h5>
                    <p class="tx-12 text-muted">87% target reached</p>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">trending_up</i>
                    </div>
                  </div>
                </div>
  -->

  <!--

    
  -->