<button class= "mdc-button mdc-menu-button">
  <div class="mdc-card info-card info-card--success">
    <div class="card-inner">
      <h5 class="card-title"><%= car.section %></h5>
      <h5 class="font-weight-light pb-2 mb-1 border-bottom"><%= car.Number_of_cars %> vehicles on the road</h5>
      <p class="tx-12 text-muted"><%= car.Precent_of_cars %>%</p>
      <div class="card-icon-wrapper">
        <img src="./images/dashboard/car_icon.png" style = "width: 50px;">
      </div>
    </div>
  </div>
</button>