<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigML</title>
</head>
<body>
    <h1 style="text-align:center;margin-right: 100px;" >This Is BigML Table</h1>
    
    <table border="2" cellpadding="5" cellspacing="5" style="border-collapse: collapse;margin-right: 50%;padding-right: 0px;padding-left: 0px;margin-left: 500px;margin-top: 100px;" width="400">
        <tr>
            <td height="19" width="20%" style="text-align:center">1</td>
            <td height="19" width="20%" style="text-align:center">2</td>
            <td height="19" width="20%" style="text-align:center">3</td>
            <td height="19" width="20%" style="text-align:center">4</td>
            <td height="16" width="20%" style="text-align:center">5</td>
        </tr>
        <tr>
            <td height="16" width="20%" style="text-align:center">2</td>
            <td height="16" width="20%" style="text-align:center">&nbsp;</td>
            <td height="16" width="20%" style="text-align:center">&nbsp;</td>
            <td height="16" width="20%" style="text-align:center">&nbsp;</td>
            <td height="16" width="20%" style="text-align:center">&nbsp;</td>
        </tr>
        <tr>
            <td height="19" width="20%" style="text-align:center">3</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
        </tr>
        <tr>
            <td height="19" width="20%" style="text-align:center">4</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
        </tr>
        <tr>
            <td height="19" width="20%" style="text-align:center">5</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
            <td height="19" width="20%" style="text-align:center">&nbsp;</td>
        </tr>
        </table>
</body>
</html>